/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}
.demo-full-width {
  width: 100%;
}
.margin-top {
  margin-top: 15px;
}
.margin-left {
  margin-left: 10px;
}
.form {
  margin: 15px 0 15px 100px;
  border: 2px solid lightgray;
  width: 500px;
  padding: 15px;
}
